<launch>
  <arg name="output_dir" default="$(find simenv_competitor)/../../results/fuel_lite_ablation"/>
  <arg name="maximum_duration" default="700.0"/>
  <include file="$(find simenv_competitor)/launch/baseline_fastlio_exploration.launch">
    <arg name="output_dir" value="$(arg output_dir)"/>
    <arg name="maximum_duration" value="$(arg maximum_duration)"/>
  </include>
</launch>
